.container{
    width: 90%;
    background-color: darkcyan;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.characterList{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.characterList li{
    width: 175px;
    min-height: 430px;
    margin: 15px;
    border: 1px solid black;
    padding: 25px;
    font-weight: bold;
    background-color: #949393;
    border-radius: 15px;
}

.characterList li img{
    width: 200px;
    border-radius: 15%;
    border: 1px solid black;
}